<a href="@Href" class="btn btn-primary m-1">@BtnName</a>
@code {
    [Parameter]
    public string Href { get; set; } = "/";

    [Parameter]
    public string BtnName { get; set; } = "Back to Home";
}
